<div style='float:right;'>
  <%= link_to '+ New Post', new_post_path, class: 'btn btn-light' %>
</div><br /><br />

<%= form_tag posts_path, method: :get do %>
  <div class='float-right' style='width:50%;'>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="fa fa-search input-group-text"></span>
      </div>
      <%= text_field_tag :query, @query, placeholder: 'Search', class: 'form-control' %>
    </div>
  </div><br /><br /><br />
<% end %>

<div>
  <% if @posts.empty? %>
    <div style='text-align:center;'>
      <h5>No posts returned</h5>
    </div>
  <% end %>
  <% @posts.each do |post| %>
    <h1><%= post.title %></h1>

    <% if post.taggings.present? %>
      <span class="fa fa-tags"></span>
      <% post.taggings.each do |t| %>
        <span><%= t.tag.name %>,</span>
      <% end %>
    <% end %>

    <div><%= truncate(post.body, length: 200, omission: '...') %></div>

    <div class='float-left' style='color:#959595; font-style:italic;'>
      created <%= time_ago_in_words(post.created_at) %> ago
      by <%= post.user.full_name %>
    </div>
    <div class='float-right'>
      <% size = post.comments.size %>
      <%= link_to "comments (#{size})", post_path(post) %>
    </div><br /><br />
  <% end %>
</div>